.altbg {
	background-color: #181818;
}

.altnavbg {
	background-color: #121212;
}

.tablewithmargins tr td {
	
	margin: 25px;
	
}
.tablewithmargins tr th {
	
	margin: 25px;
	
}

.navbar-brand {
	font-family: 'Lobster', cursive;
	font-size: 24px;
}

.nodecor { text-decoration: none !important; }

.rowmargins {
	margin-top: 15px;
	margin-bottom: 25px;
}

.firstparagraphingrid {
	margin-top: 5px;
}

.paragraphingrid {
	margin-bottom: 0px;
}

p, h1, h2, h3, h4, h5, h6 {
    font-family: 'Cabin', sans-serif;
}

.spotify-font-color {
    color: #999999;
}

.spotify-font-color:hover {
    color: #ffffff;
}

.spotify-font-artist-name, .searchresults {
    color: #ffffff;
    text-transform: uppercase;
}

.spotify-font-artist-name:hover {
    color: #ffffff;
}

a {
    color: #6AE368;
}

.error {
    color: #d9534f;
}


